<nav class="navbar navbar-expand-lg shadow  mb-2 bg-body-tertiary rounded sticky-top " id="navbar">
    <div  class="container-fluid" style="background-color: rgb(39, 57, 63);">
      <a class="navbar-brand fs-1 " style="color: goldenrod;" href="#">EASY SHOPPING</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
        <ul  class="navbar-nav me-auto mb-2 mb-lg-0">
    
          <li *ngFor="let roles of headerRoles" class="nav-item">
       
            <a class="nav-link" (click)="navigateTo(roles.path)"> <i class="fa-solid fa-star"></i> {{roles.lable}}</a>
          </li>
        </ul>
     
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-warning" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <div>
    
  </div>

