<nav class="navbar navbar-expand-lg navbar-light bg-light; "  >
    <!-- Container wrapper -->
    <div class="container-fluid" style="background-color: rgb(135, 77, 38); height: 65px;">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3BmlOc0GYk5W4AOlIf-iskCqZ_fM6T2rIuQ&usqp=CAU"
            height="65"
            loading="lazy"
          />
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button type="button">LOG OUT</button>
          </li>
          <li class="nav-item">
            <button type="button">VIEW PROFILE</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
