<!--Main Navigation-->
<header>
    <!-- Sidebar -->
    
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-8 mt-4">
          <a  class="list-group-item list-group-item-action py-2 ripple" >
            <button type="button" (click)="addDealer()"> Add Dealer</button>           
          </a>
          <a  class="list-group-item list-group-item-action py-2 ripple ">
            <button type="button" (click)="viewDealer()"> view Dealer</button>           
          </a>
          <a  class="list-group-item list-group-item-action py-2 ripple">
            <button type="button" (click)="addEmployee()"> Add Employee</button>           
          </a> 
          <a  class="list-group-item list-group-item-action py-2 ripple">
            <button type="button" (click)="viewEmployee()"> View Employee</button>            
           </a>          
        </div>
      </div>
  </header>

  
  <!--Main layout-->
  <main style="margin-top: 58px;">
    <div class="container pt-4"></div>
  </main>
  <!--Main layout-->